---
import Layout from "@/layouts/Layout.astro";
import DatetimeCard from "@/components/Datetime.astro"
import OutsideCard from "@/components/OutsideCard.astro"
import CommonCard from "@/components/CommonCard.astro"
import InsideCard from "@/components/InsideCard.astro"
import SingleWeatherCard from "@/components/SingleWeatherCard.astro";
import WeatherChart from "@/components/WeatherChart.jsx";

const env = import.meta.env;
const API_KEY = env.OPENWEATHERMAP_API_KEY; 
const city = env.CITY
const country = env.COUNTRY

Astro.cookies.set("city", city);
Astro.cookies.set("country", country);

const currentWeatherResponse = await fetch(
	`https://api.openweathermap.org/data/2.5/weather?zip=${city},${country}&lang=DE&units=metric&appid=${API_KEY}`
);
const currentWeather = await currentWeatherResponse.json();

const forecastResponse = await fetch(
	`https://api.openweathermap.org/data/2.5/forecast?zip=${city},${country}&lang=DE&units=metric&appid=${API_KEY}`
);
const forecastData = await forecastResponse.json();

const time = new Date();

const currentDate = time.toLocaleDateString("de-DE", { 
	timeZone: "Europe/Berlin",
	weekday: "long",
	month: "long",
	day: "numeric",
});
const currentTime = time.toLocaleTimeString("de-DE", {
	hour: "2-digit",
	minute: "2-digit",
	hour12: false,
});
const currentTimeHour = time.toLocaleTimeString("de-DE", {
	timeZone: "Europe/Berlin",
	hour: "2-digit",
	hour12: false,
}).substring(0,2);

const currentTimeMinute = time.toLocaleTimeString("de-DE", {
	timeZone: "Europe/Berlin",
	minute: "2-digit",
	hour12: false,
}).padStart(2, '0');

function formatToDayAndTime(unixTimestamp : number) {
    const date = new Date(unixTimestamp * 1000);
    const day = date.toLocaleDateString("de-DE", { 
        timeZone: "Europe/Berlin",
        weekday: "short"//"narrow",
    });
    const time = date.toLocaleTimeString("de-DE", { 
        timeZone: "Europe/Berlin",
        hour: "2-digit",
        hour12: false,
    });
    return `${day} ${time}`;
}

function formatToBerlinDate(unixTimestamp : number) {
	const date = new Date(unixTimestamp * 1000); 
	return date.toLocaleDateString("de-DE", { 
		timeZone: "Europe/Berlin",
		weekday: "long",
	});
}

const hourlyChartLabels = forecastData.list.map((h) =>
	formatToDayAndTime(h.dt) 
);
const hourlyTemperatures = forecastData.list.map((h) => Math.round(h.main.temp));
const hourlyPrecipitation = forecastData.list.map((h) => {
	return (h.rain && h.rain["3h"]) ? h.rain["3h"] : 0;
});

const hourlyAirPressure = forecastData.list.map((h) => h.main.pressure);

function matchCriteria(element, index, array) {
	const value =  element.dt_txt.includes("12:00:00") || element.dt_txt.includes("06:00:00") || element.dt_txt.includes("18:00:00");
	return value;
}
const dailyWeather = forecastData.list.filter(matchCriteria).slice(0,8);

/*
const hour = new Date().toLocaleTimeString("de-DE", {
	timeZone: "Europe/Berlin",
	hour: "2-digit",
	hour12: false,
});
const hourNumber = parseInt(hour, 10);
const isNight = hourNumber >= 20 || hourNumber < 6;
*/
var hourSunrise = currentWeather.sys.sunrise * 1000;
console.log(hourSunrise);
var hourSunset = currentWeather.sys.sunset * 1000;
console.log(hourSunset);
const hour = (new Date()).getTime();
console.log(hour);
const isNight = hour > hourSunset || hour < hourSunrise;
console.log(isNight);

const colors = [
	"text-red-950", "text-orange-950", "text-amber-950", "text-yellow-950", "text-lime-950", "text-green-950", 
	"text-emerald-950", "text-teal-950", "text-cyan-950", "text-sky-950", "text-blue-950", "text-indigo-950", 
	"text-violet-950", "text-purple-950", "text-fuchsia-950", "text-pink-950", "text-rose-950", "text-slate-950", 
	"text-gray-950", "text-zinc-950", "text-neutral-950", "text-stone-950",
];
const darkColors = [
	"text-red-100", "text-orange-100", "text-amber-100", "text-yellow-100", "text-lime-100", "text-green-100", 
	"text-emerald-100", "text-teal-100", "text-cyan-100", "text-sky-100", "text-blue-100", "text-indigo-100", 
	"text-violet-100", "text-purple-100", "text-fuchsia-100", "text-pink-100", "text-rose-100", "text-slate-100", 
	"text-gray-100", "text-zinc-100", "text-neutral-100", "text-stone-100",
];

const textcolor = isNight ? "oklch(96.8% 0.007 247.896)" : "oklch(20.8% 0.042 265.755)";
---

<Layout>
	<main
		class="flex flex-col items-center h-screen w-full"
		style={{
			backgroundColor: isNight ? "#111927" : "#fdfdfd",
		}}>
		<div class="flex flex-col gap-2 w-full">
			<!-- date and time  -->
			<section class="w-full max-w-99/100 items-center gap-2 mt-5 mx-auto">
				<DatetimeCard 
					currentDate = {currentDate}
					currentTime = {currentTime}
					currentHour = {currentTimeHour}
					currentMinute = {currentTimeMinute}
					isNight = {isNight}
				/>
			</section>

			<!-- outside, common, inside -->
			<section class="grid grid-cols-7 w-full max-w-99/100 items-center gap-2 mx-auto">
				<!-- Outside -->
				<OutsideCard
					isNight = {isNight}
				/>

				<!-- common -->
				<CommonCard
					currentWeather = {currentWeather}
					isNight = {isNight}
					time = {time}
				/>

				<!-- inside -->
				<InsideCard
					isNight = {isNight}
				/>
			</section>

			<!-- weather details -->
			<section
				class:list={[
					"w-full flex items-center justify-center shadow-md rounded-lg pl-4 pr-4 max-w-99/100 mx-auto backdrop-blur-lg backdrop-saturate-150 border",
					{
						[`bg-[rgba(17,25,39,0.5)] border-white/10 text-slate-100`]:
							isNight,
						[`bg-[rgba(245,245,244,0.75)] border-black/10 text-slate-900`]:
							!isNight,
					},
				]}>
				<WeatherChart
					client:load
					labels={hourlyChartLabels}
					temperatureData={hourlyTemperatures}
					precipitationData={hourlyPrecipitation}
					airPressureData={hourlyAirPressure} 
					textColor={textcolor}
				/>
			</section>

			<!-- forecast -->
			<section
				class:list={[
					"flex gap-2 justify-between w-full max-w-99/100 mx-auto shadow-md rounded-lg p-4 backdrop-blur-lg backdrop-saturate-150 border",
					/*
					{
						[`bg-[rgba(17,25,39,0.5)] border-white/10 ${darkColors[Math.floor(Math.random() * darkColors.length)]}`]:
							isNight,
						[`bg-[rgba(245,245,244,0.75)] border-black/10 ${colors[Math.floor(Math.random() * colors.length)]}`]:
							!isNight,
						[`bg-[rgba(17,25,39,0.5)] border-white/10 ${darkColors[Math.floor(Math.random() * colors.length)]}`]:
							isNight,
						[`bg-[rgba(245,245,244,0.55)] border-black/10 ${colors[Math.floor(Math.random() * colors.length)]}`]:
							!isNight,
					},
					*/
					{
						[`bg-[rgba(17,25,39,0.5)] border-white/10 text-slate-100`]:
							isNight,
						[`bg-[rgba(245,245,244,0.75)] border-black/10 text-slate-900`]:
							!isNight,
					},
				]}>
				{
					dailyWeather
						.map((item) => (
							<SingleWeatherCard
								title={formatToBerlinDate(item.dt)}
								temperature={Math.round(item.main.temp)}
								humidity={item.main.humidity}
								pressure={item.main.pressure}
								time={item.dt_txt}
								icon={item.weather[0].icon}
								isNight={isNight}
								textColor={
									isNight
										? "text-slate-100"
										: "text-slate-900"
								}
							/>
						))
				}
			</section>
		</div>

		<script define:vars={{ textcolor }}>
			let seconds = 900;
			const dateEl = document.getElementById("date");
			const timeHourEl = document.getElementById("hour");
			const timeMinuteEl = document.getElementById("minute");
			const datetimeSeparatorEl = document.getElementById("timeseparator");

			function updateDatetime() {
				const time = new Date();
				const currentDate = time.toLocaleDateString("de-DE", { 
					timeZone: "Europe/Berlin",
					weekday: "long",
					month: "long",
					day: "numeric",
				});
				const currentTimeHour = time.toLocaleTimeString("de-DE", {
					hour: "2-digit",
					hour12: false,
				}).substring(0,2).padStart(2, '0');
				const currentTimeMinute = time.toLocaleTimeString("de-DE", {
					minute: "2-digit",
					hour12: false,
				}).padStart(2, '0');
				if (seconds % 2 == 0) {
					datetimeSeparatorEl.style.color = textcolor;
					dateEl.textContent = `${currentDate}`;
					timeHourEl.textContent = `${currentTimeHour}`;
					timeMinuteEl.textContent = `${currentTimeMinute}`;
				} else {
					datetimeSeparatorEl.style.color = "transparent";
				}
			}
			const interval = setInterval(() => {
				seconds--;
				updateDatetime();
				if (seconds <= 0) {
					clearInterval(interval);
					window.location.reload();
					console.log("Reloading ...");
				}
			}, 1000);
		</script>
	</main>
</Layout>