---
import {
	IconDroplet,
    IconGauge,
	IconThermometer, 
	IconBattery1Filled,
	IconBattery2Filled,
	IconBattery3Filled,
	IconBattery4Filled,
} from "@tabler/icons-react";

const {
	outsideData,
    isNight,
} = Astro.props;

//console.log("outsideData.temp: ", outsideData.temp, (outsideData.temp) >= 10 ? 3 : 2, parseFloat(outsideData.temp, (outsideData.temp >= 10) ? 3 : 2));
---

<div class:list={[
        "col-span-3 items-center gap-8 pt-4 shadow-md rounded-lg backdrop-blur-lg backdrop-saturate-150 border h-full justify-center",
        {
            [`bg-[rgba(17,25,39,0.5)] border-white/10 text-slate-100`]:
                isNight,
            [`bg-[rgba(245,245,244,0.75)] border-black/10 text-slate-900`]:
                !isNight,
        },
    ]}>
    <div class="flex-col items-center justify-evenly self-stretch text-center">
        <!-- outside temp -->
        <div class="">
            <p class="text-[12rem]/32 font-semibold">
                {parseFloat(outsideData.temp, (outsideData.temp >= 10 ? 3 : 2))}°C
            </p>
        </div>
        <!-- heatindex, humnidity, pressure-->
        <div class="w-full pt-8 grid grid-cols-3 justify-center pl-4 pr-4">
            <!-- heatindex -->
            <div class="flex">
                <div class="flex items-start justify-start">
                    <div
                        class="flex flex-col items-start w-full">
                        Gefühlt:
                        <span class="text-4xl font-bold">
                            {outsideData.heat}°C
                        </span>
                    </div>
				</div>
            </div>

            <!-- humidity -->
            <div class="flex items-center justify-center">
                <div class="flex items-center">
                    <div
                        class="flex flex-col w-full">
                        Luftfeuchtigkeit:
                        <span class="text-4xl font-bold">
                            {outsideData.hum}%
                        </span>
                    </div>
				</div>
            </div>

            <!-- outside pressure -->
            <div class="flex items-end justify-end">
                <div class="flex items-end">
                    <div class="flex flex-col items-center w-full">
                        Luftdruck:
                        <span class="text-4xl font-bold">
                            {outsideData.pres} hPa
                        </span>
                    </div>
				</div>
            </div>
        </div>

        <!-- battery room date -->
        <div class="w-full grid grid-cols-5 text-xl gap-x-8 font-semibold pt-8 pl-4 pr-4 content-end">
            <!-- battery voltage -->
            <div class="flex gap-2 col-span-2 items-start justify-start">
                { outsideData.soc > 80 ? <span style="color:green"><IconBattery4Filled size={30} /></span> :
                    outsideData.soc > 60 ? <span style="color:#ebb134"><IconBattery3Filled size={30} /></span> :
                    outsideData.soc > 40 ? <span style="color:#eb7134"><IconBattery2Filled size={30} /></span> :
                    <span style="color:red"><IconBattery1Filled size={30} /></span> }
                <div
                    class="flex flex-col w-full">
                    <span class="text-2xl font-bold">
                        {outsideData.volt}V / {outsideData.soc}%
                    </span>
                </div>
            </div>
            <div class="flex gap-2 items-center justify-center">
                <div class="flex flex-col justify-center items-center w-full">
                    <span class="text-2xl font-bold">
                        Balkon
                    </span>
                </div>
            </div>
            <!-- date and time of data -->
            <div class="flex items-end justify-end gap-2 col-span-2">
                <div
                    class="flex flex-col justify-end items-end w-full">
                    <span class="text-s">
                        {outsideData.time}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
